nav {
  background-color: #f72310;
  padding: 10px;
  height: 50px;
}

svg {
  width: 110px;
  height: 20px;
  fill: #fff;
}

a {
  color: black !important;
}

.subscribe-content {
  align-items: center;
}

.border-3 {
  border-right: 2px solid #dee2e6 !important;
}

.font-13 {
  font-size: 13px;
}

.font-16 {
  font-size: 16px;
}

.font-22 {
  font-size: 22px;
}

.font-30 {
  font-size: 30px;
  padding: 0 5px;
}

.font-20 {
  font-size: 20px;
  padding: 0 5px;
}

.btn-warning {
  background-color: #ffe400 !important;
  height: 30px;
}

.ct-content {
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px solid #ddd;
}

.footer-fc {
  color: #666;
}

.svg-footer {
  width: 236px;
  height: 35px;
  fill: #f72310;
  margin-bottom: 15px;
}

.footer-news,
.footer-edition,
.footer-links {
  padding: 15px;
}

.footer-news {
  border-bottom: 1px solid #666;
}

.footer-links {
  padding-top: 0;
}

.image-left {
  align-items: flex-end;
}

.left-image-title {
  color: #f72310;
  padding: 5px 10px;
  background-color: #F3F4F5;
}

.ct-image-title {
  padding: 2px 5px;
  background-color: #C2D4D7;
}

.left-image-insight {
  color: #3581F4;
  padding: 5px 10px;
  background-color: #F3F4F5;
}

.top-story {
  background-image: url(./assets/left-side/biden-speaks-delaware.webp);
  height: 364px;
  width: auto;
  background-size: cover;
}

.ct-image {
  background-image: url(./assets/center-side/cul-map-happiness-finland.jpg);
  height: 155px;
  width: auto;
  background-size: cover;
}

.content-insight {
  border: 1px solid #e6e6e6;
  padding: 20px;
}

.media {
  align-items: center !important;
}

.left-debate {
  border-top: 4px solid #d9d9d9;
  padding-top: 10px;
  padding-bottom: 4px;
}

.rigth-debate {
  border-bottom: 4px solid #d9d9d9;
  padding-bottom: 12px;
}

.opinion {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 12px;
}

.c-vs {
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font: bold 14px/32px "Roboto Condensed",sans-serif;
  text-align: center;
  margin: 6px auto;
}

.deco::before {
  top: calc(50% - 2px);
}

.deco::after {
  top: 50%;
}

.deco::after, 
.deco::before {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
}

@media only screen and (min-width: 768px) {
  .subscribe-content {
    align-items: center;
  }

  .login-title {
    padding: 0 5px;
  }

  .dt-sponsor {
    width: 400px;
    margin: auto;
  }

  .footer-container,
  .footer-logo {
    align-items: baseline;
  }

  .fe-links ::after,
  .footer-links ::after {
    content: ' | ';
  }

  .fe-links :nth-of-type(5)::after {
    content: '';
  }
}

@media only screen and (min-width: 1200px) {
  nav {
    height: 95px;
    padding: 20px !important;
  }

  .mo-links {
    align-items: center;
  }

  .menu-options {
    background-color: #fff;
    padding: 5px 100px 5px 10px !important;
    height: auto;
  }

  svg {
    height: 55px;
    width: auto;
  }

  .fe-links ::after,
  .footer-links ::after {
    content: ' | ';
  }

  .mo-links :nth-of-type(12)::after {
    content: '';
  }

  .fe-links :nth-of-type(5)::after {
    content: '';
  }
}
